* {
    padding : 0;
    margin: 0;
}
body {
    width:100%;
    height:100%;
    color: #fff;
    font-family: monospace;
    position: absolute;
    background-image: url(bg.jpg);
    background-size: inherit;
}

#form {
    top: 49%;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 0 auto;
    margin-top: -100px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background-color: #ffffff0d;
    box-shadow: #00000033 0px 0px 10px;
}

#title {
    top: -10px;
    left: -10px;
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 25px;
    font-weight: 900;
    line-height: 40px;
    position: relative;
    background-color: #c4302b;
}

#desc {
    margin: 10px 0;
}
#url {
    width: 380px;
    height: 30px;
    padding: 4px 8px;
    margin: 5px 0;
    border-radius: 5px;
    color: #a1a1a1;
    border: solid 1px rgba(46, 46, 46, 0.73);
    background-color: rgba(0, 0, 0, 0.11);
}

#button {
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    background: #c4302b;
    border: 0;
    border-radius: 5px;
}